@use '../breakpoints';

.layout-grid {
  width: 100%;
  max-width: 38rem;
  padding: 3rem 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;

  align-items: center;
  justify-items: center;

  gap: 1rem;

  .polaroid {
    transform: translate(1rem, 0) rotate(2deg);
    z-index: 1;
  }

  .notebook-page {
    transform: translateY(-1rem) rotate(-0.75deg);
  }

  @media (min-width: breakpoints.$mobile) {
    grid-template-columns: auto auto;
    width: auto;

    padding: 4rem 2rem;

    .polaroid {
      align-self: start;
      transform: translateY(1rem) rotate(-2deg);
    }

    .notebook-page {
      transform: translateY(-0.5rem) rotate(1.5deg);
    }

    .tidy-button {
      grid-column: span 2;
    }
  }

  @media (min-width: breakpoints.$tablet) {
    max-width: none;
  }
}
