@use '../breakpoints';

.layout-grid {
  width: 100%;
  max-width: 38rem;
  padding: 3rem 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;

  align-items: center;
  justify-items: center;

  gap: 1rem;

  .hello-sticker {
    transform: rotate(-2deg);
  }

  .polaroid {
    transform: translate(2rem, -1rem) rotate(1deg);
  }

  .notebook-page {
    transform: translateY(-2rem) rotate(-0.75deg);
  }

  @media (min-width: breakpoints.$mobile) {
    grid-template-columns: auto 1fr;

    padding: 4rem 2rem;
    row-gap: 1rem;

    .hello-sticker {
      grid-column: span 2;
      transform: rotate(-3deg);
    }

    .polaroid {
      align-self: start;
      justify-self: end;
      transform: translateY(1rem) rotate(-2deg);
    }

    .notebook-page {
      transform: translateY(-1rem) rotate(1.5deg);
    }

    .tidy-button {
      grid-column: span 2;
    }
  }

  @media (min-width: breakpoints.$tablet) {
    max-width: 50rem;
  }
}
