@use '../breakpoints';

.polaroid {
  --polaroid-border: 0.5rem;
  border: var(--polaroid-border) solid var(--c-white);
  width: 100%;
  max-width: 12rem;
  height: auto;
  border-radius: 0.25rem;
  object-fit: cover;

  box-shadow: 0.1rem 0.1rem 0.25rem 0 rgba(0, 0, 0, 0.15);

  @media (min-width: breakpoints.$tablet) {
    --polaroid-border: 1rem;
    max-width: 18rem;
  }
}

