.site-main {
  padding: var(--content-padding);
  background-color: var(--c-background);
  color: var(--c-text);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
