.site-footer {
  padding: var(--content-padding);
  background-color: var(--c-background-darker);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}