@use '../mixins';

.tidy-button {
  @include mixins.reset-button;
  font-size: 1rem;
  text-decoration: underline;
  opacity: 0.3;
  transition: opacity 200ms;
  cursor: pointer;
  margin-top: 1rem;

  &:hover {
    opacity: 1;
  }

  &:disabled {
    opacity: 0;
    pointer-events: none;
  }
}
