---
import { getCollection } from "astro:content";
import { format } from "date-fns";

import SiteLayout from "../../layouts/SiteLayout.astro";

export async function getStaticPaths() {
  const entries = await getCollection("posts");

  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<SiteLayout
  title={entry.data.title}
  currentNavItem="posts"
  headerTitle={entry.data.title}
>
  <Fragment slot="header-content">
    <p class="meta">Published on <time datetime={ format(entry.data.published, 'yyyy-MM-dd') }>{ format(entry.data.published, 'MMMM d, y') }</time></p>
  </Fragment>

  <article class="trim-margins">
    <Content />
  </article>
</SiteLayout>
