---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<SiteLayout
  title="Posts"
  description="Archive of my latest posts"
  currentNavItem="posts"
  headerTitle="Posts"
>
  <!-- <Fragment slot="header-content">
    <p>TODO: Something witty about how I don't write enough.</p>
  </Fragment> -->

  <ul>
    {
      posts.map((entry) => (
        <li>
          <a href={`/posts/${entry.slug}`}>{entry.slug}</a>
        </li>
      ))
    }
  </ul>
</SiteLayout>
