---
import { getCollection } from "astro:content";

import SiteLayout from "../../layouts/SiteLayout.astro";
import PostExcerpt from "../../components/PostExcerpt.astro";

const posts = (await getCollection("posts"))
  .sort((a, b) => b.data.published.getTime() - a.data.published.getTime());
---

<SiteLayout
  title="Posts"
  description="Archive of my latest posts"
  currentNavItem="posts"
  headerTitle="Posts"
>
  <ul class="reset-list vertical-flow">
    {
      posts.map((entry) => (
        <li>
          <PostExcerpt entry={entry} />
        </li>
      ))
    }
  </ul>
</SiteLayout>
