.rounded {
  border-radius: var(--border-radius);
}

.border-secondary {
  border: var(--border-width) solid var(--c-secondary);
}

.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.trim-margins {
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
