@use 'mixins';

.shadow {
  box-shadow: 0 2px rgba(0, 0, 0, 0.15);
}

.trim-margins {
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.reset-list {
  @include mixins.reset-list();
}

.reset-link {
  @include mixins.reset-link();
}

.tight {
  --flow-gap: 1rem;
}

.loose {
  --flow-gap: 4rem;
}

.sr-only {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}