@use 'breakpoints';

:root {
  --layout-padding: 1rem;
  --content-width: 45rem;
  --content-padding: 1.25rem;

  --c-white: rgb(247, 247, 247);
  --c-site-background: #D1EAEF;
  --c-notebook: #F8F6E5;

  --border-radius: 0.75rem;

  --c-primary: #026c6d;
  --c-background: #F8F6E5;
  --c-secondary: #49ada9;
  --c-text: #523E3D;
  --c-background-darker: #f0EEDD;

  --border-width: 5px;

  @media (min-width: breakpoints.$mobile) {
    --layout-padding: 1.5rem;
  }

  @media (min-width: breakpoints.$tablet) {
    --content-padding: 2rem;
    --border-width: 6px;
  }
}
