extends deps/layout

block vars
	-
		title = "Art of Cooking"
		meta = "Case study for the Art of Cooking, a website for a fictional set of cooking lessons by Michael Savchuk"

block content

	img.media-big.space-after.shadow(src="./media/portfolio-items/art-of-cooking/header.png", alt="Header of the Art of Cooking website.")

	.text-block.space-after
		h1 The Art of Cooking
		p The Art of Cooking is a fictional set of <em>cooking classes</em> offered by the Institute of Culinary Arts intended for <em>adults aged 30-50</em>.
	
	img.media-big.space-after(src="./media/portfolio-items/art-of-cooking/iphone-mockup.jpg", alt="The art of cooking website on a mobile phone.")
	
	.text-block.space-after
		h1 Requirements
		p This was a <em>class project</em>. The final product was supposed to be a <em>static site</em> that was <em>responsive</em> across multiple screen sizes.
		ul
			li Advertise the school
			li Showcase currently avaliable classes
			li Contain recipes from current classes
			li Offer a way for customers to sign up online
	
	.text-block
		h1 Brand
		p The logo was crafted with care to be both <em>inviting and professional</em> at once.
	img.media-medium(src="./media/portfolio-items/art-of-cooking/logo-concepts.jpg", alt="A collection of early concepts for the Art of Cooking logo. The bottom right logo is circled.")

	.text-block
		p Colors chosen were <em>inspired by food</em>. Only two made it into the final design.
	
	img.media-small.space-after(src="./media/portfolio-items/art-of-cooking/colors.jpg" alt="A row of colors: yellow, green, red, dark brown, and dark blue. The first and second colors are circled.")

	.text-block.space-after
		h1 Workflow
		ol
			li Sketching and ideation on paper
			li Style tile concepts in <em>Adobe Illustrator</em> and Photoshop
			li Visual exploration and mockup in <em>Photoshop</em>
			li Coded in <em>Visual Studio Code</em>
	
	img.media-small.space-after(src="./media/portfolio-items/art-of-cooking/logo-cutting-board.jpg", alt="A comparison of two backgrounds styles for the logo, one with a realistic cutting board as a background, and another with a simple rectangle.")
	
	.text-block.space-after
		h1 Technical Stack

		p The HTML is compiled from data in a JSON file using <em>Gulp</em>, which uses <em>Nunjucks</em> templates to create the pages. The Gulpfile also compiles CSS from <em>SASS (SCSS)</em> files and runs it through <em>Autoprefixer</em>. During development, <em>BrowserSync</em> was used for live browser reloading.

		p These tools made developing the website much easier and faster as opposed to just editing raw HTML/CSS.

	img.media-big.space-after(src="./media/portfolio-items/art-of-cooking/laptop-mockup.jpg", alt="A laptop with the 'Classes' listing of the Art of Cooking website on the screen.")

	.text-block.space-after
		h1 The Website
		p The design of the website was built upon the "inviting but professional" concept of the brand. The homepage was built to be <em>visually captivating</em>, and the rest of the site was built to be <em>easy to understand and navigate</em>.

		a.button(href="./websites/art-of-cooking/index.html" target="_blank") See Website
	
	img.media-medium.space-after.shadow(src="./media/portfolio-items/art-of-cooking/home-full.jpg", alt="A full page screenshot of the Art of Cooking homepage.")

	.button-nav
		a.button(href="./tainted-avocados.html") Next