extends deps/layout

block vars
	-
		title = "Hoagies"
		meta = "Case study for Hoagies, a website for a fictional food truck by Michael Savchuk"

block content
	
	.text-block.space-after
		h1 Hoagies
		p Hoagies is a fictional <em>food truck</em> that offers the best hoagies in town.
	
	img.media-medium.space-after.shadow(src="./media/portfolio-items/hoagies/home-page.jpg", alt="A ull page screenshot of the Hoagies website homepage.")
	
	.text-block.space-after
		h1 Requirements
		p The final product was to be a <em>responsive static site</em> providing a unique identity for the Food Truck.

		ul
			li Advertise the truck
			li Allow customers to easily locate it
			li Show the menu offerings
			li Provide an email sign up form
			li Include an "About" page and a blog
	
	img.media-small.space-after(src="./media/portfolio-items/hoagies/menu-page.png", alt="A mobile phone mockup containing the Hoagies website menu page.")
	
	.text-block.space-after
		h1 Technical Stack

		p The website is mostly writting in <em>Pug</em>, which is then compiled to HTML via <em>Gulp</em>. The JavaScript is also transpiled and bundled via Gulp using <em>Webpack</em> and <em>Babel</em>.

		p These tools made editing the site easier and faster. With Pug, I didn't need to have repeatable blocks of markup. With Webpack/Babel I could split up my code, use npm modules, and work with the latest JavaScript specification.
	
	img.media-medium.space-after(src="./media/portfolio-items/hoagies/about-page.png", alt="A landscape ipad with the Hoagies 'About' page on it.")
	
	.text-block.space-after
		h1 The Website
		p The design is intentionally <em>Big and Bold</em>. The pale yellow and red colors were chosen to reflect <em>bread and meat</em>. The curves in the logo and layout suggest the <em>rounded</em> shape of a good, packed hoagie.

		a.button(href="./websites/hoagies/index.html" target="_blank") See Website
	
	img.media-medium.shadow.space-after(src="./media/portfolio-items/hoagies/quote.gif", alt="A quote from the Hoagies website saying 'The best Hoagies in Bellingham since 2013'." style="border-radius: 0.25rem;")

	.button-nav
		a.button(href="./tainted-avocados.html") Previous