<!DOCTYPE html>

html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bitter:700")
		link(rel="stylesheet", href="./dist/css/main.css")

		title Michael Savchuk
	body
		header.space-after
			.header-content
				img(src="./media/bird.svg", alt="Cartoony avatar of a blue bird.")
				h1 Michael<br>Savchuk
		
		.intro-block.space-after
			h1 I love Code &amp; Design
			p I'm a graphic designer and web developer from Bellingham, Washington
			p When I'm not designing, I like hiking, making tiny video games and playing board games with friends.
			//button Works
			a.button(href="mailto:pixelrobin@hotmail.com") Contact Me
		
		section.portfolio-item.space-after--big
			.portfolio-item__screenshot
				img(src="./media/screenshots/art-of-cooking.png", alt="Screenshot of the 'Art of Cooking' homepage")
			.portfolio-item__content
				.portfolio-item__content__wrapper
					span.portfolio-item__category Web Design
					h1 The Art of Cooking
					p Website for The Art of Cooking, a set of cooking classes for adults aged 40-60 offered by the Institute of Culinary Arts.
					a.button(href="./websites/art-of-cooking/index.html" target="_blank") See Website
		
		section.portfolio-item.space-after--big.portfolio-item--reverse
			.portfolio-item__screenshot
				img(src="./media/screenshots/hoagies.png", alt="Screenshot of the 'Hoagies' website homepage")
			.portfolio-item__content
				.portfolio-item__content__wrapper
					span.portfolio-item__category Web Design
					h1 Hoagies
					p Website for Hoagies, a food truck that sells... well... hoagies.
					a.button(href="./websites/hoagies/index.html", target="_blank") See Website

		section.portfolio-item.space-after--big
			.portfolio-item__screenshot
				img(src="./media/screenshots/snaps.png", alt="Screenshot of the 'Snaps! Tours' homepage")
			.portfolio-item__content
				.portfolio-item__content__wrapper
					span.portfolio-item__category Web Design
					h1 Snaps! Tours
					p Website for Snaps! Tours, a company that specializes in tours around the world aimed at young adults and college students..
					a.button(href="./websites/snaps/index.html" target="_blank") See Website
		
		footer
			p Copyright Michael Savchuk 2018
//html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bitter:700")
		link(rel="stylesheet", href="./dist/css/main.css")

		title Michael Savchuk
	body
		.coming-soon
			h1.coming-soon Website coming soon!