
extends deps/layout

block content
	.intro-block.space-after
		h1 I love Code &amp; Design
		p.bigger I'm a <em>graphic designer</em> and <em>web developer</em> from Bellingham, Washington with a passion for learning new things.
		p.bigger When I'm not designing, I like hiking, making tiny video games and playing board games with friends.
		p.bigger I am currently a <em>student</em> of the WCC Visual Communications program, and will graduate by 2019.
		a.button(href="mailto:pixelrobin@hotmail.com") Contact Me
	
	section.portfolio-item.space-after--big
		.portfolio-item__screenshot
			img(src="./media/screenshots/art-of-cooking.png", alt="Screenshot of the 'Art of Cooking' homepage")
		.portfolio-item__content
			.portfolio-item__content__wrapper
				span.portfolio-item__category Web Design:
				h1 The Art of Cooking
				p Website for The Art of Cooking, a set of cooking classes for adults aged 40-60 offered by the Institute of Culinary Arts.
				a.button(href="./art-of-cooking.html") See Project

	section.portfolio-item.space-after--big.portfolio-item--reverse
		.portfolio-item__screenshot
			img(src="./media/screenshots/tainted-avocados.png", alt="Screenshot of the 'Tainted Avocados' blog")
		.portfolio-item__content
			.portfolio-item__content__wrapper
				span.portfolio-item__category Web Design:
				h1 Tainted Avocados
				p A custom Wordpress theme and plugin to manage events for an eccentric indie band.
				a.button(href="./tainted-avocados.html" target="_blank") See Project
	
	section.portfolio-item.space-after--big
		.portfolio-item__screenshot
			img(src="./media/screenshots/hoagies.png", alt="Screenshot of the 'Hoagies' website homepage")
		.portfolio-item__content
			.portfolio-item__content__wrapper
				span.portfolio-item__category Web Design:
				h1 Hoagies
				p Website for Hoagies, a food truck that sells... well... hoagies.
				a.button(href="./websites/hoagies/index.html", target="_blank") See Website