extends deps/layout

block content
	video.shadow.media-big.space-after(mute autoplay loop)
		source(src="./media/portfolio-items/tainted-avocados/home-page.mp4" type="video/mp4")
	
	.text-block.space-after
		h1 The Tainted Avocados
		p The Tainted Avocados are a fictional <em>indie band</em> that's just starting out.
	
	img.media-medium.space-after(src="./media/portfolio-items/tainted-avocados/blog.jpg", alt="")
	
	.text-block.space-after
		h1 Requirements
		p The band was looking for a custom <em>responsive WordPress theme</em> built from scratch to give them a <em>unique look</em>.
		
		ul
			li General information about the Band
			li A Blog for increased SEO
			li Upcoming events and where to get tickets
			li A place to catalog the band's albums
			li A contact form
		
		p All this had to be <em>easily editable</em> by the members via WordPress' capabilities.
	
	video.media-small.space-after(mute autoplay loop)
		source(src="./media/portfolio-items/tainted-avocados/mobile-menu.mp4" type="video/mp4")
	
	.text-block.space-after
		h1 Workflow
		
		ol
			li Sketches and ideation on paper
			li Style Tile exploration and mockups in <em>Adobe Xd</em>
			li Coded in <em>Visual Studio Code</em>
	
	img.media-bigger.space-after(src="./media/portfolio-items/tainted-avocados/device-previews.jpg", alt="")
	
	.text-block.space-after
		h1 Technical Stack

		p The WordPress theme and plugins were coded from scratch in <em>PHP</em>, the CSS was compiled from <em>SASS (SCSS)</em>, and the JavaScript was transpiled and bundled via <em>Webpack</em> and <em>Babel</em>. All the build processes were handled with <em>Gulp</em>. I used <em>WAMPServer</em> to host the site locally while developing and <em>BrowserSync</em> to auto reload the browser.
	
	img.media-medium.space-after(src="./media/portfolio-items/tainted-avocados/events.png", alt="")

	.text-block
		h1 Band Events

		p I created a <em>custom plugin</em> to add a simple <em>"Event" post type</em> to Wordpress, allowing the band to post events with a time, location and links to tickets. The date field uses <a href="https://flatpickr.js.org/">flatpickr</a> to function.
	
	img.shadow.media-medium.space-after(src="./media/portfolio-items/tainted-avocados/plugin.png", alt="")

	img.media-bigger.space-after(src="./media/portfolio-items/tainted-avocados/headers.jpg", alt="")