---
import '../styles/style.scss';

import { Image } from 'astro:assets';
import profile from '../assets/images/me.jpg';
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Michael Savchuk &mdash; Web Developer &amp; Designer</title>
	<meta name="description" content="I'm a web developer and designer currently living in Bellingham, WA.">

	<link rel="icon" href="/favicon.ico" sizes="any">
	<link rel="icon" href="/icon.svg" type="image/svg+xml">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
</head>
<body>
	<div class="layout-grid">
		<Image
			src={profile}
			data-tidy
			class="polaroid"
			alt="Headshot of me with a plain blurred camera. I'm slightly smiling."
			loading="eager"
		/>
		<main class="notebook-page" data-tidy>
			<p>Hi. I'm Michael Savchuk.</p>
			<p>I'm a Web Developer and Designer based in Bellingham, WA. Currently I'm working as a nomad from Rio de Janeiro.</p>
			<p>Let&apos;s get in touch!</p>

			<nav class="notebook-links">
				<ul>
					<li class="link-send">Send me an <a href="mailto:contact@michaelsavchuk.com">email</a></li>
					<li class="link-external">Visit my <a href="https://www.linkedin.com/in/michaelsavchuk/">LinkedIn</a> or <a href="https://github.com/Pixelrobin">GitHub</a></li>
				</ul>
			</nav>
		</main>

		<button id="organize" class="tidy-button">Tidy things up</button>
	</div>


	<script>
		const button = document.querySelector<HTMLButtonElement>('#organize');

		if (button) {
			button.addEventListener('click', () => {
				document.querySelectorAll<HTMLElement>('[data-tidy]')
					.forEach(el => el.style.transform = 'none');
				button.disabled = true;
			});
		}
	</script>
</body>
</html>
