---
import SiteLayout from '../layouts/SiteLayout.astro';

import profile from '../assets/images/me.jpg';
---

<SiteLayout
	title="Michael Savchuk"
	description="I’m a full-stack web developer and designer who’s passionate about building accessible experiences that empower and delight."
	headerImage={profile}
	currentNavItem="home"
	headerTitle="Hello,<br>I'm Michael."
>
	<Fragment slot="header-content">
		<p>I'm a Full-Stack Developer and Designer who’s passionate about building accessible experiences that empower and delight.</p>
	</Fragment>

	<p>I’m based in Bellingham, WA and I’m currently working as a nomad from Rio de Janeiro, Brazil.</p>
	<p>Besides working with the web, I love hiking, biking, longboarding, and perfecting my coffee-brewing technique. I dabble in game development too.</p>
	<p>Let’s get in touch!</p>
</SiteLayout>
