---
export interface NavigationItem {
  title: string;
  path: string;
  name: string;
}

interface Props {
  items: NavigationItem[];
  current?: string;
}

const { items, current } = Astro.props;
---

<nav class="site-nav">
  <ul>
    {items.map(item => (
      <li class={ current === item.name ? 'current' : null }>
        <a href={ item.path }>{ item.title }</a>
      </li>
    ))}
  </ul>
</nav>
