---
import '../styles/style.scss';

import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

import SiteNav, { type NavigationItem } from '../components/SiteNav.astro';

interface Props {
	currentNavItem?: string;
	title: string;
	description: string;
	headerImage?: ImageMetadata;
	headerTitle: string;
}

const { title, description, headerImage, currentNavItem, headerTitle } = Astro.props;

const navItems: NavigationItem[] = [
	{
		title: 'Home',
		path: '/',
		name: 'home',
	},
	{
		title: 'Posts',
		path: '/posts',
		name: 'posts',
	},
]
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{ title }</title>
	<meta name="description" content={ description ?? '' }>

	<link rel="icon" href="/favicon.ico" sizes="any">
	<link rel="icon" href="/icon.svg" type="image/svg+xml">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
</head>
<body>
	<div class="site-layout">
		<h1>Michael Savchuk</h1>

		<div class="container">
			<header class="site-header">
				<SiteNav items={navItems} current={currentNavItem} />
	
				<div class="site-header-main">
					<h2 class="site-header-title" set:html={headerTitle}>{ headerTitle }</h2>
	
					{ headerImage ? 
						<div class="site-header-image">
							<Image
								src={headerImage}
								class="rounded border-secondary shadow"
								alt="Headshot of me with a plain blurred camera. I'm slightly smiling."
								loading="eager"
							/>
						</div>
					: null }
	
					{ Astro.slots.has('header-content') ?
						<div class="site-header-content trim-margins">
							<slot name="header-content" />
						</div>
					: null}
				</div>
			</header>
	
			<main class="site-main trim-margins">
				<slot />
			</main>

			{ Astro.slots.has('footer-content') ?
				<footer class="trim-margins site-footer">
					<slot name="footer-content" />
				</footer>
			: null}
		</div>
	</div>
</body>
</html>
